body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #fafcd3, #c9f8ae, #99e6f7, #f4cbf3);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 25px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.login-btn {
  background: linear-gradient(to right, #30CFD0, #330867);
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 25px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
}

.login-btn:hover {
  opacity: 0.9;
}

.forgot {
  text-align: right;
  font-size: 12px;
  margin-top: -8px;
}

.social-text {
  margin: 20px 0 10px;
  font-size: 14px;
}

.social-icons a img {
  width: 32px;
  margin: 0 8px;
  filter: grayscale(100%);
  transition: 0.3s ease;
}

.social-icons a img:hover {
  filter: none;
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}